#left-sidebar {
    display: none
}
.cp__header-left-menu {
    display:none !important
}
/* Move left header icons to the right */
.cp__header {
    justify-content: flex-end;
}
.cp__header>.l {
    min-width: unset;
}
.cp__header>.r {
    flex: 0 0 auto;
}
/* Make properties look clickable */
.ls-properties-area .property-key a {
    color: var(--ls-link-text-color);
}
a.tag {
    border-radius: 0.25rem;
    padding: 1px;
    /* Emphasize tags like dev-theme does */
    border: 2px solid currentColor;
}
/* Make page config nav link look clickable */
.page-add-tags a.fade-link {
  color: var(--ls-link-ref-text-color);
  opacity: 1;
}

/* Give property area some definition. Copied from file graphs */
.ls-properties-area:has(> div.property-pair), .ls-properties-area.class-properties {
    padding: 4px 4px;
    border-radius: 0.25rem;
    background-color: var(--ls-page-properties-background-color);
}
/* Add some space between property area border and block tag border */
.ls-block .ls-properties-area:has(> div.property-pair) {
    margin-top: 5px;
}
/* Get rid of glitchy left border caused by background */
.ls-block .ls-properties-area, .property-block-container {
    border-left: 0px;
}