#left-sidebar {
    display: none
}
.cp__header-left-menu {
    display:none !important
}
/* Move left header icons to the right */
.cp__header {
    justify-content: flex-end;
}
.cp__header>.l {
    min-width: unset;
}
.cp__header>.r {
    flex: 0 0 auto;
}
/* Make properties look clickable */
.ls-properties-area .property-key a {
    color: var(--ls-link-ref-text-color);
}
a.tag {
    /* Emphasize tags like dev-theme does */
    border: 2px solid currentColor;
}
/* Make page config nav link look clickable */
.page-add-tags a.fade-link {
  color: var(--ls-link-ref-text-color);
  opacity: 1;
}
