{:deps
 {logseq/db
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "c4f6873a58002b716d57ffd203864a00f6dca891"
   :deps/root "deps/db"}
  logseq/outliner
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "c4f6873a58002b716d57ffd203864a00f6dca891"
   :deps/root "deps/outliner"}
  logseq/common
  ;; TODO: Remove hack to workaround 'Unable to compare versions for logseq/common'
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "c4f6873a58002b716d57ffd203864a00f6dca891"
   :deps/root "deps/common"}}}
