{:deps
 {logseq/db
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "bdd3d7e05ef564258dfe6e02d76ba5f7f5114bd5"
   :deps/root "deps/db"}
  logseq/outliner
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "bdd3d7e05ef564258dfe6e02d76ba5f7f5114bd5"
   :deps/root "deps/outliner"}
  logseq/scripts
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "bdd3d7e05ef564258dfe6e02d76ba5f7f5114bd5"
   :deps/root "scripts"}
  #_{:local/root "../../work/logseq/scripts"}}}